<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="dp" class="easyui-datagrid" title="数据平台"
       data-options="singleSelect:true ,method:'get',toolbar:'#tb'" style="width: 100%">
</table>
<table id="table-ff" border="5px" cellspacing="5px" bordercolor="blue" width="200px" height="50px" align="center">
       <!--style="background: 100%;background-image: url('../../img/logo.png')"-->
    <tr bgcolor="#f0ffff" width="10px" height="30px" align="center" nowrap="nowrap">
        <th>id</th>
        <th>name</th>
        <th>操作</th>
    </tr>
</table>
<div class="easyui-datagrid" id="table-data" >

</div>

</body>
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: "/jquery/data.json",
            dataType: "json",
            success: function (data) {
                var html = "<div>\n" +
                    "        <span>" + data.result["asd"] + "</span>\n" +
                    "    </div>"

                $("#table-data").html(html);

            }
        });

    });
    $(document).ready(function () {
        $.ajax({
            url: "/getData.json",
            dataType: "json",
            success: function (data) {
                console.log(data)
                var str = "";//定义用于拼接的字符串
                for (var i = 0; i < data.length; i++) {
                    //拼接表格的行和列
                    str = "<tr bgcolor=\"#f0ffff\" width=\"10px\" height=\"30px\" align=\"center\" nowrap=\"nowrap\"><td valign=\"top\">"
                        + data[i].id + "</td><td nowrap=\"nowrap\">" + data[i].name + "</td><td><a href=\"#\" class=\"easyui-linkbutton\">修改</a>&nbsp;<a href=\"#\" class=\"easyui-linkbutton\" iconCls=\"icon-cancel\">删除</a></td></tr>";
                    $("#table-ff").append(str);

                }
            }
        });

    });
</script>


</html>