<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="dg" class="easyui-datagrid" title="短信平台"
       data-options="singleSelect:true ,method:'get',toolbar:'#tb'" style="width: 100%">
</table>
<div id="tb" style="padding:5px;height:auto;width: 100%">
    <!-- <div>
         短信签名：
         <select id="ctg1ForAttrList" class="easyui-combobox" style="width:100px" data-options="valueField:'id',textField:'name',url:'getCatalog1',
     onSelect:function(rec){
     $('#ctg2ForAttrList').combobox('clear');
 $('#ctg3ForAttrList').combobox('clear');
             $('#ctg2ForAttrList').combobox('reload','getCatalog2?catalog1Id='+rec.id);
        }"></select>
         短信模板：
         <select name="ctg2ForAttrList" id="ctg2ForAttrList" class="easyui-combobox" data-options="valueField:'id',textField:'name',
    onSelect:function(rec){
     $('#ctg3ForAttrList').combobox('clear');
             $('#ctg3ForAttrList').combobox('reload','getCatalog3?catalog2Id='+rec.id);
        }" style="width:100px"></select>
     </div>-->

    <form id="ff">
        <div>
            短信签名：
            <select id="signName" class="easyui-combobox" name="signName" style="width:100px;">
                <option value="流星">流星</option>
                <option value="张豹的私人服务">张豹的私人服务</option>
            </select>
            &nbsp;&nbsp;
            短信模板：
            <select id="templateCode" class="easyui-combobox" name="templateCode" style="width:300px;" >
                <option value="SMS_129485523">您有新的消息${product}摘要，请注意查收！</option>
                <option value="SMS_127164105">尊敬的${name}，欢迎使用短信服务。</option>
            </select>
            &nbsp;&nbsp;
            <label for="phoneNo">手机号:</label>
            <input class="easyui-textbox" id="phoneNo" name="phoneNo" data-options="required:true"/>
            &nbsp;&nbsp;
            <label for="templateParam">内容:</label>
            <input class="easyui-textbox" id="templateParam" name="templateParam" data-options="required:true"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="btn" class="easyui-linkbutton" style="atsc-nav-right: 100px" data-options="iconCls:'icon-ok'"
               onclick="Submit()">发送</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a id="sdd" class="easyui-linkbutton" style="atsc-nav-right: 50px" data-options="iconCls:'icon-no'">重置</a>
        </div>
    </form>
</div>
<div  class="table-data" id="table-data">

</div>

</body>
<script type="text/javascript">

/*   $(document).ready(function(){
        $.ajax({
            url:"/jquery/data.json",
            dataType:"json",
            success: function(data){
             console.log(data.result);
             var html = "<div>\n" +
                 "        <span>"+data.result["asd"]+"</span>\n" +
                 "    </div>"

             $("#table-data").html(html);
                alert(data.result['asd']);

        }
        });

    });*/

    function Submit() {
        var InfoVO = {};
        InfoVO["phoneNo"] = $("#phoneNo").val();
        InfoVO["templateParam"] = $("#templateParam").val();
        InfoVO["signName"]=$("#signName").combobox("getValue").toString();
        InfoVO["templateCode"]=$("#templateCode").combobox("getValue").toString();

        $.post("/sendSMS", InfoVO, function (data) {
            console.log(data);
            if(data.toString() == "OK" ){
                $.messager.alert("操作提示", "发送成功！","info");
            }else {
                $.messager.alert("操作提示", "发送失败！","error");
            }
        });
    }
    // submit the form
    /*function Submit() {
        console.log("保存完成222");

        var InfoVO = {};
        InfoVO["signName"] = $("#signName").combobox("getValue");
        InfoVO["templateCode"] = $("#templateCode").combobox("getValue");
        InfoVO["phoneNo"] = $("#phoneNo").val();
        InfoVO["templateParam"] = $("#templateParam").val();
        $.post("/sendSMS", InfoVO, function (data) {
        });
    }*/
</script>


</html>